<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Dashboard</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <!-- Microservices -->
  <link rel="stylesheet" href="../static/css/happiness/style.css">
  <link rel="stylesheet" href="../static/css/reminder/style.css">
  <!-- Dashboard -->
  <link rel="stylesheet" href="../static/css/dashboard/style.css">
</head>

<body>
  <h2 id="date"></h2>

  <!-- Components -->
  <div class="happiness-component component"></div>
  <div class="reminder-component component"></div>

  <!-- TODO: download -->
  <script src="../static/js/utils/jquery-3.3.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <!-- Microservices -->
  <script src="../static/js/happiness/script.js"></script>
  <script src="../static/js/reminder/script.js"></script>
  <!-- Dashboard -->
  <script src="../static/js/dashboard/script.js"></script>
</body>

</html>
